/* #E5E6E0, #F6F5EF */

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
  background: #f6f6ef;
}
.recharts-wrapper {
  background: #f6f6ef;
}

.menu {
    padding-top: 20px;
}

.menu a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
    margin: 0 4px;
    font-size: 18px;
    background: #ff732c;
}

.button_group {
  display: block;
  text-align: right;
}

.button_group button {
  background: transparent;
  border: 0;
  color: #ff732c;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.button_group span{
  border-right: 4px solid #ff732e;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 90%;
		padding: 0 40px;
	}
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}

tr:nth-of-type(odd) { 
  background: #E5E6E0; 
}
th { 
  background: #ff732e; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  /* border: 1px solid #ccc;  */
  text-align: left; 
}
.up_vote{
  cursor: pointer;
}
hr{
  background: #ff732e;
}

@media only screen and (max-width: 767px) {
  .container {
		width: 90%;
		padding: 0 40px;
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	td:nth-of-type(1):before { content: "Comments"; }
	td:nth-of-type(2):before { content: "Vote Count"; }
	td:nth-of-type(3):before { content: "Up Vote"; }
	td:nth-of-type(4):before { content: "News Details"; }
}
